* {
    box-sizing: border-box;
  }
  
  /* Header/logo Title */
  .header {
    background-color: #ffffff;
    color: #ffffff;
    padding-top: 10px;
    min-height: 4px;
  }
  
  /* Style the navigation bar links */
  header nav {
    float: right;
    margin-top: 10px;
  }
  
  /* Global */
  .container {
    width: 70%;
    margin: auto;
    overflow: hidden;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  header {
    background-color: #ffffff;
    color: #ffffff;
    padding-top: 10px;
    min-height: 4px;
  }
  
  header a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
  }
  
  header ul {
    margin: 0;
    padding: 0;
  }
  
  header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding {
    float: left;
  }
  
  header #branding h3 {
    margin: 0;
  }
  
  header nav {
    float: right;
    margin-top: 10px;
    flex-direction: column;
  }
  
  .headerTextColour {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffb347;
  }
  
  header a:hover {
    color: #ffb347;
    font-weight: bold;
  }
  
  /* The image background */
  img {
    max-width: 100%;
    height: auto;
  }
  #background {
    position: relative;
    top: 0;
    left: 0px;
    width: 1400px;
    height: 900px;
  }
  #salaamSwipe {
    position: absolute;
    top: 50px;
    right: 700px;
    width: 500px;
    height: 800px;
  }
  
  #appStoreIphone {
    position: absolute;
    bottom: 250px;
    right: 120px;
    width: 500px;
    height: 140px;
  }
  
  .centered {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #f4f4f4;
  }
  
  #disp1 {
    font-family: "Times New Roman", Times, serif solid;
    font-size: 36px;
    line-height: 10px;
  }
  
  #disp2 {
    font-family: "Times New Roman", Times, serif solid;
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 40px;
  }
  
  #disp3 {
    font-family: Arial, Helvetica, sans-serif solid;
  }
  
  /* The body */
  body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
  }
  
  #about {
    min-height: 100px;
    text-align: center;
    color: #ffffff;
  }
  
  #about h1 {
    font-family: "Times New Roman", Times, serif;
    margin-top: 10px;
    font: 80px;
    color: #ff8c00;
  }
  #about h2 {
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif solid;
    font: 80px;
    color: #ff8c00;
    margin-bottom: 10px;
  }
  
  #about p {
    font-size: 20px;
    color: #000000;
  }
  
  #firstIcon {
    position: relative;
    top: 1000;
    left: 0px;
    width: 150px;
    height: 150px;
  }
  #secondIcon {
    position: relative;
    top: 1000;
    width: 150px;
    height: 150px;
  }
  #thirdIcon {
    position: relative;
    top: 1000;
    width: 150px;
    height: 150px;
  }
  
  /* Footer */
  footer {
    padding: 20px;
    margin-top: 20px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
  }
  